@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h4 class="masthead-heading mb-0 text-dark">Institute Web App</h4>

            <a asp-page="/Courses/Index" class="btn btn-primary btn-xl rounded-pill mt-5">View Courses</a>
        </div>
    </div>

</header>